@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* ****************************
    Common Buttons
    **************************** */
  .primary-btn {
    @apply bg-[#4E31AA] border-[#4E31AA] text-[#FFFFFF] text-[14px] font-semibold rounded-[4px] hover:shadow-none;
  }
  .primary-btn-cancel {
    @apply border-[#EF2F88] text-[#EF2F88] text-[14px] font-semibold rounded-[4px] hover:shadow-none bg-transparent;
  }
  .seconday-btn {
    @apply border-[#727272] text-[#727272] text-[14px]  rounded-[4px] hover:shadow-none bg-transparent;
  }
  .ternary-btn {
    @apply border-[#4E31AA] text-[#4E31AA] text-[14px]  rounded-[4px] hover:shadow-none bg-transparent;
  }

  .primary-button {
    @apply bg-[#43766C] border-[#43766C] text-[#FFFFFF] text-[14px] font-semibold rounded-[2px] hover:bg-[#07a279] border-[#07a279] shadow-none;
  }

  .primary-button-cancel {
    @apply bg-[#FF6969] border-[#FF6969] text-[#FFFFFF] text-[14px] font-semibold rounded-[2px] hover:bg-[#f5364a] border-[#f5364a] shadow-none;
  }

  .black-button {
    @apply bg-[#101010] border-[#101010] text-[#FFFFFF] text-[14px] font-semibold rounded-[2px] hover:bg-[#000000] border-[#000000] shadow-none;
  }

  .transparent-pink-btn {
    @apply bg-[#fde0e3] text-Pink font-medium rounded hover:bg-Pink hover:text-Light;
  }

  .transparent-primary-btn {
    @apply bg-[#4548594d] text-Primary font-semibold rounded hover:bg-Primary hover:text-Light;
  }

  /* .btn {
    @apply rounded-full font-semibold shadow-none;
  } */
  /* ****************************
    website fonts
    **************************** */

  /* @font-face {
    font-family: "cairo-regular";
    src: url(../assets/fonts/Cairo-Regular.ttf) format("truetype");
  } */
}

body {
  font-family: "Poppins", sans-serif;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #374a5e;
}

ul.orderDetils li:nth-child(even) {
  background-color: #f2f2f2; /* Set your desired background color for even rows */
}

ul.orderDetils li:nth-child(odd) {
  background-color: #ffffff; /* Set your desired background color for odd rows */
}
div.dashboardCardList {
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  --auto-grid-min-size: 20rem;
  grid-gap: 2rem;
  display: grid;
}

div.productList {
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  --auto-grid-min-size: 12rem;
  grid-gap: 15px;
  display: grid;
  padding: 0 10px;
}

div.kitchenTables {
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  --auto-grid-min-size: 20rem;
  grid-gap: 15px;
  display: grid;
}

table.billingTable {
  border-collapse: collapse;
  width: 100%;
}

table.billingTable tbody > tr > td,
table.billingTable thead > tr > th {
  /* border: 1px solid #ddd; */
  padding: 0.5rem;
}

table.billingTable tr > td {
  border: none;
  padding: 0;
}

table.billingTable tr {
  border: 0;
}

table.billingTable tr {
  border-bottom: 1px solid #f8f4ec;
}
table.billingTable td,
th {
  /* padding: 8px; */
  font-size: 12px;
  text-transform: uppercase;
}

table.billingTable td {
  text-transform: capitalize;
  color: #454859;
  font-weight: 400;
}

table.billingTable2 td {
  color: #454859;
  font-weight: 500;
}

/* table.billingTable tbody tr {
  margin: 10px 0;
} */

table.billingTable th {
  font-weight: 500;
  /* border: 1px solid #374a5e; */
}
/* table.billingTable thead tr {
  border-radius: 5px !important;
} */

table.billingTable2 {
  /* border-collapse: collapse; */
  border: none;
  border-collapse: collapse;
  width: 100%;
}

table.billingTable3 {
  /* border-collapse: collapse; */
  border: none;
  border-collapse: collapse;
  width: 100%;
}
table.billingTable2 tbody td {
  padding: 5px 10px;
  font-size: 13px;
  font-weight: 600;
}

table.billingTable3 tbody td {
  padding: 5px 10px;
  font-size: 13px;
  font-weight: 600;
}

/* Firefox */
/* * {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
} */

.footItemsList::-webkit-scrollbar {
  scrollbar-width: none !important;
  width: 0px;
}

table td,
th {
  text-align: center;
}

table th:nth-child(1) {
  text-align: start;
}

table tr td:nth-child(1) {
  text-align: start;
}

input[type="radio"] {
  padding: 0.4em;
  -webkit-appearance: none;
  outline: 0.1em solid black;
  outline-offset: 0.1em;
}

input[type="radio"]:checked {
  display: inline-block;
  background-color: #000;
  position: relative;
}

input[type="radio"]:checked::after {
  background-image: url("https://img.icons8.com/glyph-neue/64/FFFFFF/checkmark.png");
  content: "";
  position: absolute;
  top: -4px;
  left: -1px;
  width: 11px;
  height: 20px;
  background-size: 14px 16px;
  background-repeat: no-repeat;
}

.table.ordersTable :where(th) {
  font-weight: 600;
  color: #d9d9d9 !important;
  background: #454859;
  font-size: 14px;
  /* border: 1px solid #454859 !important; */
}

.table.ordersTable :where(th, td) {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  vertical-align: middle;
  border: 1px solid #d9d9d9; /* Add this line with your desired border color */
}

.table.purchaseIngredientsTable :where(th, td) {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  vertical-align: middle;
  border: 1px solid #d9d9d9; /* Add this line with your desired border color */
}

.table.purchaseIngredientsTable :where(th) {
  font-weight: 600;
  color: #454859; /* Add this line with your desired border color */
  font-size: 14px;
}

.table.purchaseIngredientsTable :where(th) {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
  font-weight: 600;
  color: #ffffff;
  background: #454859; /* Add this line with your desired border color */
  font-size: 14px;
}

.table.ordersTable :where(th) {
  font-weight: 600;
  color: #454859; /* Add this line with your desired border color */
}

.table.AllItemsTable :where(th) {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
  font-weight: 600;
  color: #ffffff;
  background: #454859; /* Add this line with your desired border color */
  font-size: 14px;
}

.table.AllItemsTable :where(th, td) {
  /* padding-left: 0.5rem !important; */
  /* padding-right: 0.5rem !important; */
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  /* vertical-align: middle; */
  border: 1px solid #d9d9d9; /* Add this line with your desired border color */
  font-size: 14px;
}

.table.AllFoodGroupTable :where(th) {
  font-weight: 600;
  color: #ffffff;
  background: #454859;
  font-size: 14px;
}
.table.AllFoodGroupTable :where(th, td) {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
  border: 1px solid #d9d9d9;
  font-size: 14px;
}

.customZIndex {
  z-index: 100;
}

.table.allPurchaseHistoryTable :where(th) {
  font-weight: 600;
  color: #454859;
  background: #ffffff;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  font-size: 14px;
}
.table.allPurchaseHistoryTable :where(th, td) {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  border: 1px solid #d9d9d9;
  font-size: 14px;
}

.table.WorkPeriodTable :where(th) {
  font-weight: 600;
  color: #454859;
  background: #ffffff;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  font-size: 14px;
}
.table.WorkPeriodTable :where(th, td) {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  padding-top: 0.7rem !important;
  padding-bottom: 0.7rem !important;
  border: 1px solid #d9d9d9;
  font-size: 14px;
}

.table.WorkPeriodTable :where(th) {
  font-weight: 600;
  color: #ffffff;
  background: #454859;
  font-size: 14px;
}

.table.VariationTable :where(th, td) {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  padding-top: 0.3rem !important;
  padding-bottom: 0.3rem !important;
  background: #fff;
  border: 1px solid #d9d9d9;
  font-size: 14px;
}

.table.VariationTable {
  border-collapse: collapse;
}
.table.VariationTable :where(th) {
  font-weight: 700;
  padding-top: 0.7rem !important;
  padding-bottom: 0.7rem !important;
  color: #454859;
  background: #fff;
  font-size: 12px;
}

.table.OrderDetailsTable :where(th) {
  font-weight: 600;
  color: #ffffff;
  background: #f2f2f2;
  font-size: 14px;
}

.table.OrderDetailsTable :where(th, td) {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  padding-top: 0.3rem !important;
  padding-bottom: 0.3rem !important;
  background: #fff;
  border: 1px solid #d9d9d9;
  font-size: 14px;
}

.table.OrderDetailsTable {
  border-collapse: collapse;
}
.table.OrderDetailsTable :where(th) {
  font-weight: 700;
  padding-top: 0.7rem !important;
  padding-bottom: 0.7rem !important;
  color: #454859;
  background: #f2f2f2;
  font-size: 12px;
}

/* Route Animation */

@keyframes mymove {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.my-element {
  animation: mymove 0.5s ease-out; /* Adjust duration and timing function as needed */
}

@keyframes homepageImage {
  100% {
    transform: rotate(360deg);
  }
}

.headerRightSection img {
  animation: homepageImage 50s linear infinite;
}

/* homepage */
/* Zoom In animation */

@keyframes slideInLeft {
  0% {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translateZ(0);
  }
}
.slideInLeft {
  animation-name: slideInLeft;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
    visibility: hidden;
  }
  50% {
    opacity: 1;
  }
}

img.aboutImg {
  animation: zoomIn 1s ease 0.1s;
  visibility: visible;
}

.home-page-video {
  position: relative;
  height: 100%;
  min-height: 500px;
  background: linear-gradient(rgba(15, 23, 43, 0.1), rgba(15, 23, 43, 0.1)),
    url("https://themewagon.github.io/restoran/img/video.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-play-home {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 18px 20px 18px 28px;
}
.home-page-video .btn-play-home::before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: #ff6969;
  border-radius: 50%;
  animation: pulseBorder 1500ms ease-out infinite;
}
.home-page-video .btn-play-home::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: #ff6969;
  border-radius: 50%;
  transition: all 200ms;
}

.home-page-video span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid #454859;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

@keyframes pulseBorder {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.slider-container .slick-slide.slick-active.slick-center.slick-current div div {
  border: none;
  background: #ff6969;
}

.slider-container .slick-dots {
  bottom: -40px;
}
/* .slider-container div .slick-list {
  margin: 0 50px;
  
} */

.slider-container .slick-dots li button::before {
  width: 40px;
  height: 40px;
  font-size: 15px;
}

.slider-container .slick-dots li button:hover ::before {
  color: #ff6969 !important;
}

.slider-container .slick-dots .slick-active button::before {
  /* background-color:#FF6969 ;
  border-color: #ff6969; */
  color: #ff6969;
}
.slider-container
  .slick-slide.slick-active.slick-center.slick-current
  div
  div
  .quoteIcon {
  color: white;
}

.slider-container
  .slick-slide.slick-active.slick-center.slick-current
  div
  div
  p {
  color: white;
}
.slider-container .slick-slide.slick-active {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-container
  .slick-slide.slick-active.slick-center.slick-current
  div
  div
  div
  h5 {
  color: white;
}

.slider-container
  .slick-slide.slick-active.slick-center.slick-current
  div
  div
  div
  small {
  color: white;
}

/* Date picker z-index */

.react-datepicker-popper {
  z-index: 10;
}

.form-floating .react-datepicker-wrapper {
  width: 100%;
}

/* Navbar smooth flow */

.navbarContainer {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.5s ease-in-out;
}

.navbarContainer.flow {
  height: fit-content;
  max-height: 460px;
}

.navbarContainer1 {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.5s ease-in-out;
}

.navbarContainer1.flow1 {
  height: fit-content;
  max-height: 460px;
}

div.testList {
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  --auto-grid-min-size: 12rem;
  grid-gap: 1rem;
  display: grid;
}

div.orderList {
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  --auto-grid-min-size: 22rem;
  grid-gap: 4rem;
  display: grid;
}

/* Booking tables */

.calendar-container {
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent button wrapping */
}

/* .days-of-week {
  display: flex;
  flex-direction: row;
}

.day-of-week {
  flex: 1;
  text-align: center;
  padding: 10px;
} */

/* .dates {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
} */

.dates::-webkit-scrollbar {
  /* scrollbar-width: 1px !important; */
  width: 1px;
  height: 4px;
  background: #ff6969;
}

.dates::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0,0,0,0);
}

.dates::-webkit-scrollbar-thumb {
  background: rgba(255, 33, 33, 0.5);
  border-radius: 5px;
}

/* .date-button {
  flex: 1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
} */

/* .date-button:hover {
  background-color: #f0f0f0;
} */
